<div class="lc">
	<div class="inside account_menu">
		{block name=show_poll_place_block module=polls one_poll_place=0}
		{helper func_name=show_banner_place module=banners func_param='big-left-banner'}
		{helper func_name=show_banner_place module=banners func_param='left-banner'}
	</div>
</div>

