#pages {margin: 5px 0px;}
#pages ul{padding: 4px 0px; margin: 0; padding-bottom: 10px;}
#pages ul li{padding: 5px; padding-left: 20px; border: solid 1px #29b43d; list-style: none; margin: 2px 0px; background: #f7fff8;}
#pages ul li:hover{ cursor: move; background: #f6e4a0;}
#pages ul li.limiter{border: dashed 1px #888888;}
#pages ul li .icons{float: right;}
