							<div class="line top pages">
								{* if $page_data.total_rows }<span class="count">{l i='total' gid='start'}: {$page_data.total_rows}</span>{ /if *}
								&nbsp;{$page_data.nav}
							</div>
