	<div  class="row">
		<div class="h">{l i='field_csv_delimiter' gid='export'}</div>
		<div class="v"><input type="text" name="data[delimiter]" value="{$data.delimiter|escape}" /></div>
	</div>
	<div  class="row">
		<div class="h">{l i='field_csv_enclosure' gid='export'}</div>
		<div class="v"><input type="text" name="data[enclosure]" value="{$data.enclosure|escape}" /></div>
	</div>
