{if !$geomap_js_loaded}
<script src="http://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0{*&mkt={$view_settings.lang_code_locale}*}"></script>
{js module=geomap file='bingmapsv7.js'}
{/if}
<script>{literal}
var geocoder;
$(function(){
	geocoder = new BingMapsv7_Geocoder({});
});
{/literal}</script>
