<span style='color: #000'>840 frames</span>	<span style='color: #900'>45,312 KB</span>	<span style='color: #090'>767.57 ms</span>	<span style='color: #009' title='Quirksmode'><span style='color: #0c0'>OFF</span></span><br />