<div class="view-user">
	<div class="logo-img"><img src="{if $data.user_logo_moderation}{$data.media.user_logo_moderation.thumbs.middle}{else}{$data.media.user_logo.thumbs.middle}{/if}"></div>
	<div class="logo-cont">
		{$data.fname} {$data.sname}<br>
	</div>
</div>