<ul>
	<li>{l i='on_account_header' gid='users_payments'}: <a href="{$site_url}users/account">{block name=currency_format_output module=start value=$user_account cur_gid=$base_currency.gid}</a></li>
</ul>
