<div>
	<a href="{$site_url}users/account" class="value fleft">{l i='on_account_header' gid='users_payments'} ({block name=currency_output module=start cur_gid=$base_currency.gid})</a><span class="digit">{$user_account|round}</span>
</div>
