.ds_items ol{margin: 0; padding: 1px 5px; padding-bottom: 10px; border: 0;}
.ds_items ol li{padding: 0; padding-right: 0px; border: solid 1px #29b43d; list-style: none; margin: 2px 0; background: #f7fff8;}
.ds_items ol li:hover{cursor: move; background: #f6e4a0;}
.ds_items ol li .icons{float: left;}
.ds_items ol li.limiter{border: dashed 1px #888888;}
.ds_items ol li{padding-top: 5px;}
.ds_items ol li p, .ds_items ol li .p{float: right; width: 120px; text-align: left; padding-left: 8px;}
.ds_items ol li p img{vertical-align: middle;}
.ds_items ol .a-item{padding-top: 2px; padding-bottom: 2px;}
.ds_items ol .a-block{border: none; background: none; padding-top: 0;}

.rate_header{padding-left: 16px;}
.rate_header input[type="text"]{width: 100%;}

.add-link{text-align: left; overflow: hidden; margin: 0 5px; line-height: 30px; font-size: 14px}

ol li .langs{float: left;}

.a-block{padding: 5px; border: solid 1px #c2cFc4; background: #F7FFF8; overflow: hidden;}
.a-item{float: right; padding-top: 5px; padding-left: 5px;}
.a-item .p{font-size: 11px; display: block; color: #777777; padding: 0; margin: 0;}
.a-item p{font-size: 11px; display: block; color: #777777; padding: 0; margin: 0;}
.a-item input[type=text], .a-item textarea{width: 260px;}
.a-item textarea{height: 70px;}

.main_rate_list li:hover{cursor: default !important; background: none !important;}

#dop_rate_add{float: left;}

div.rating{ display: inline-block; vertical-align: middle;}
div.rating.small{height: 20px;}
div.rating ul{ display: inline-block; margin: 0; padding: 0;}
div.rating ul li, div.rating ul li:hover{float: left; list-style-type: none; background: url('./stars.png') !important; border: none; padding: 0; margin: 0; z-index: 10;}
div.rating label{color: #999; padding-right: 20px; vertical-align: middle; display: inline-block; margin-top: -20px;}
div.rating.small label{margin-top: -1px;}
div.dop_rating .f{float: right;width: 150px;	}
div.rating span{display: block;}

div.rating_extended{margin-top: 20px;}
div.rating_extended.mini{margin-top: 10px;}
div.rating_extended .rating{margin-top: 2px;}
div.rating_extended.mini .rating{margin-top: -3px;}
div.rating_extended .rating label{line-height: 22px;}
div.rating_extended .rating span{float: right; width: 110px;}
div.rating_extended>span{display: inline-block;}

/* rate type 1 */
div.rating.large ul.stars li{background-position: 0 -30px !important; height: 30px; width: 30px;}
div.rating.small ul.stars li{background-position: -30px -30px !important; height: 12px;width: 12px;}
div.rating.large ul.stars li.rating-1 {background-position: 0 0 !important;}
div.rating.large ul.stars li.rating-1:hover {background-position: 0 0 !important;}
div.rating.large ul.stars li.rating-2 {background-position: 0 0 !important;}
div.rating.large ul.stars li.rating-2:hover {background-position: 0 0 !important;}
div.rating.large ul.stars li.rating-3 {background-position: 0 0 !important;}
div.rating.large ul.stars li.rating-3:hover {background-position: 0 0 !important;}
div.rating.large ul.stars li.rating-4 {background-position: 0 0 !important;}
div.rating.large ul.stars li.rating-4:hover {background-position: 0 0 !important;}
div.rating.large ul.stars li.rating-5 {background-position: 0 0 !important;}
div.rating.large ul.stars li.rating-5:hover {background-position: 0 0 !important;}

.rating.small ul.stars li.rating-1 {background-position: -30px 0 !important;}
.rating.small ul.stars li.rating-1:hover {background-position: -30px 0 !important;}
.rating.small ul.stars li.rating-2 {background-position: -30px 0 !important;}
.rating.small ul.stars li.rating-2:hover {background-position: -30px 0 !important;}
.rating.small ul.stars li.rating-3 {background-position: -30px 0 !important;}
.rating.small ul.stars li.rating-3:hover {background-position: -30px 0 !important;}
.rating.small ul.stars li.rating-4 {background-position: -30px 0 !important;}
.rating.small ul.stars li.rating-5 {background-position: -30px 0 !important;}
.rating.small ul.stars li.rating-5:hover {background-position: -30px 0 !important;}

/* rate type 2 */
div.rating.large ul.hands li{background-position: 0 -90px !important; height: 30px; width: 30px;}
div.rating.small ul.hands li{background-position: -30px -90px !important; height: 12px; width: 12px;}
div.rating.large ul.hands li.rating-1{background-position: 0 -60px !important;}
div.rating.large ul.hands li.rating-1:hover{background-position: 0 -60px !important;}
.rating.small ul.hands li.rating-1{background-position: -30px -60px !important;}
.rating.small ul.hands li.rating-1:hover{background-position: -30px -60px !important;}
div.rating.large ul.hands li.rating-5{background-position: 0 -60px !important;}
div.rating.large ul.hands li.rating-5:hover{background-position: 0 -60px !important;}
.rating.small ul.hands li.rating-5{background-position: -30px -60px !important;}
.rating.small ul.hands li.rating-5:hover{background-position: -30px -60px !important;}
