						</div>
				</div>
			</div>

			<div class="clr"></div>

		</div>
		<div class="footer">&copy;&nbsp;2014&nbsp;<a href="http://www.infoproperti.com">infoproperti.com</a></div>
		<div class="clr"></div>
	</div>
	{helper func_name=lang_editor helper_name=languages}
</body>
</html>
