.install_main_window{width: 560px; margin-right: 70px; background: #ffffff; border: solid 1px #208B2F; min-height: 400px;}
.install_main_window .pad{margin: 10px;}

.install_main_window .bar-level1{background: #efefef; min-height: 20px;}
.install_main_window .bar-level1 .bar{float: right; width: 0%; overflow: hidden; background: #208B2F; color: #ffffff; text-align: left;  font-size: 15px; line-height: 20px;}

.install_main_window .bar-level2{background: #efefef; min-height: 16px;}
.install_main_window .bar-level2 .bar{float: right; width: 0%; overflow: hidden; background: #FF9933; color: #ffffff; text-align: left;  font-size: 12px; line-height: 16px;}

.req{color: #FF3333; font-weight: bold;}

.tbl{}
.tbl .row{}
.tbl .row.red{color: #FF3333;}
.tbl .row.green{color: #669900;}
.tbl .row .value{width: 50px; float: left; text-align: left;}
.tbl .row .name{margin-left: 55px;}

.hided{color: #cccccc; font-style: italic;}
