<div>
	<div class="row"><a href="{$site_url}listings/my" class="value fleft">{l i='my_listings' gid='listings'}</a><span class="digit">{$listings_total.total} ({$listings_total.active})</span></div>
	{foreach item=item key=key from=$listings_counts}
	<div class="row"><a href="{$site_url}listings/my" class="value fleft">{l i='my_listings_for_'+$key gid='listings'}</a><span class="digit">{$item.total} ({$item.active})</span></div>
	{/foreach}
</div>

