<div id="pages_block_1">
	<div class="pages">
		<div class="inside">		
			<ins class="prev{if $prev_user.id eq $user.id} gray{/if}"><a href="{seolink module='users' method='view' data=$prev_user}">&nbsp;</a></ins>
			<ins class="current">{$current_page} {l i='text_of' gid='start'} {$total_pages}</ins>
			<ins class="next{if $next_user.id eq $user.id} gray{/if}"><a href="{seolink module='users' method='view' data=$next_user}">&nbsp;</a></ins>
		</div>
	</div>
	<div class="clr"></div>
</div>
