body{padding: 0; padding-top: 1px; margin: 0; background: #FFFFFF; font-family: 'SegoeUINormal', Arial, 'Lucida Grande','Lucida Sans Unicode', Verdana, sans-serif; font-size: 13px; color: #4C4C4C;}

.bg{border-top: solid 1px #4C4C4C; background: #F2F2F2;}
.main{width: 1000px; margin: 0px auto; text-align: right;}
.lc{float: right; width: 205px; margin-right: 5px;}
.rc{float: left; width: 780px; margin-left: 5px; overflow: hidden;}
.footer{line-height: 29px; height: 29px; font-size: 14px; color: #FFFFFF; background: #208B2F; overflow: hidden; padding: 0px 10px; margin-top: 25px;}
.footer a{color: #FFFFFF;}
a{color: #208B2F;}
h1{font-size: 22px; color: #F27000; margin: 0; margin-bottom: 20px;}
h2{font-size: 18px; color: #F27000;}
h3{font-size: 14px; color: #F27000;}

.logo{background: #FFFFFF; margin-bottom: 5px;}
.logo .b{padding: 5px 10px; text-align: center;}

.menu{background:  #FFFFFF; margin-bottom: 5px;}
.menu .t{padding-top: 12px;}
.menu .b{padding-bottom: 12px;}
.menu .b.min400{min-height: 400px;}

.menu ul{padding: 0; margin: 0;}
.menu li{margin: 0; padding: 0 11px; line-height: 28px; list-style: none; font-size: 14px; max-height: 28px;}
.menu li .r{background: none;}
.menu li a{color: #208B2F; text-decoration: none;}
.menu li.delim, .menu li:hover.delim{background: url('../../../img/menu-bg-delimiter.gif') center center no-repeat; height: 30px;}

.menu li:hover{margin: 0 5px; padding: 0; background: #F6E4A0;}
.menu li:hover .r{padding: 0 6px}

.menu li.disabled, .menu li.disabled:hover{margin: 0; padding: 0 11px; color: #8d8d8d; background: none}
.menu li.disabled:hover .r{background: none; padding: 0;}

.menu li.active, .menu li.active:hover{margin: 0 1px; padding: 0; padding-right: 11px; background: #3aa948; color: #FFFFFF;}
.menu li.active .r, .menu li.active:hover .r{position: relative; width: 207px; background: transparent url('../../../img/menu-item-arr-selected.gif') right center no-repeat; padding: 0;}
.menu li.active a{color: #FFFFFF;}

.num{background: #E5863A; padding: 0 10px; color: #FFFFFF; font-weight: bold; font-size: 16px; float: left; height: 26px; margin: 1px 0;}
.num .l{}

/* Indicators */
.menu .num {float: left;  padding: 0; height: 24px; line-height: 24px; min-width: 25px; margin: 2px 0; text-align: center;}
.menu .menu-level2 .num{margin-right: 6px; padding: 5px;}
.menu .active .num, .menu-level2 li:hover .num{background: #FFFFFF; color:#29B43D;}
.menu .active .num{margin-left: 25px;}

.w-area{background: #29B43D; margin-bottom: 5px; border: solid 1px #FFFFFF; padding-top: 7px;}
.w-area .b{background: #FFFFFF; padding: 10px 20px 20px; min-height: 650px;}

.quest-block{text-align: left; line-height: 30px;}
.quest-block a.back{float: right;}

.menu-level2{text-align: left; line-height: 32px; overflow: hidden;}
.menu-level2 ul{padding: 0; margin: 0; font-size: 14px;}
.menu-level2 li{margin: 0; list-style: none; float: right; background: #FFFFFF; border: solid 1px #29B43D; border-bottom: none; min-width: 90px; margin-left: 2px; text-align: center;}
.menu-level2 li .l{padding: 0 20px;}
.menu-level2 li a{text-decoration: none;}
.menu-level2 li.active, .menu-level2 li.active:hover{background: #29B43D; border: solid 1px #29B43D; border-bottom: none;}
.menu-level2 li.active .l, .menu-level2 li.active:hover .l{}
.menu-level2 li.active a, .menu-level2 li.active:hover a, .menu-level2 li:hover a{color: #FFFFFF;}
.menu-level2 li:hover{background: #29B43D; border: solid 1px #29B43D; border-bottom: none;}
.menu-level2 li:hover .l{}

.actions{background: #29B43D; padding: 10px; margin-bottom: 20px; line-height: 32px; text-align: left; overflow: hidden;}
.actions ul{padding: 0px; margin: 0px; font-size: 14px}
.actions li{margin: 0; list-style: none; float: right; background: #208D30; border: solid 2px #FFFFFF; margin-left: 18px;}
.actions li .l{padding: 0 20px;}
.actions li a{text-decoration: none; color: #FFFFFF;}
.actions li .arrdown a{padding-left: 15px; background: transparent url('../../../img/arrow-down.gif') right center no-repeat;}
.actions li:hover, .actions li.active{background: #FFFFFF; border: solid 2px #208D30;}
.actions li:hover a, .actions li.active a{color: #208D30;}
.actions li input{background: none; border: none;  font-size: 15px; color: #FFFFFF;}
.actions li:hover input, .actions li.active input{color: #208D30;}

.menu-level3{text-align: left; line-height: 30px; overflow: hidden;}
.menu-level3 ul{padding: 0; margin: 0; font-size: 14px;}
.menu-level3 li{margin: 0; padding: 0 15px;  list-style: none; float: right;}
.menu-level3 li.hide{color: #4d4d4d; display: block;}
.menu-level3 li.hide a{color: #4d4d4d; text-decoration: none;}
.menu-level3 li.active{background: #29B43D; color: #FFFFFF;}
.menu-level3 li.active a{color: #FFFFFF;}

.filter-form{border-top: solid 3px #29B43D; border-bottom: solid 3px #29B43D; background: #eef6ef; padding: 18px 10px; color: #4e4e4e;}
.filter-form h3{font-size: 14px; margin: 0; margin-bottom: 10px;}
.filter-form textarea, .filter-form input[type=text], .filter-form input[type=password]{border: solid 1px #208D30; color: #208D30; background: #FFFFFF; font-size: 15px;}
.filter-form textarea{max-width: 710px;}
.filter-form input[type=text]{width: 200px;}
.filter-form input[type=text].short{width: 50px;}
.filter-form input[type=password]{width: 200px;}
.filter-form input[type=text].long{width: 300px;}
.filter-form select{width: 200px;}
.filter-form select.wide{width: 70%;}
.filter-form .row{padding: 3px 0; min-height: 25px; overflow: hidden;}
.filter-form .row .h{float: right; width: 100px; margin-right: 10px; line-height: 20px;}
.filter-form .row .v{margin-right: 110px;}
.filter-form .block-l{width: 350px; float: right;}
.filter-form .block-r{margin-right: 305px;}
.filter-form .controller-select{display: inline-block;}
.filter-form span.separator{padding-right: 10px;}

.btn{float: right; border: solid 2px #FFFFFF; color: #FFFFFF; background: #208D30; font-size: 15px; margin: 20px 0 20px 5px; line-height: 28px; padding: 0;}
.btn:hover{border: solid 2px #208D30; color: #208D30; background: #FFFFFF;}
.btn .l{padding: 0 20px; margin: 0;}
.btn.gray{float: right; background: #b4b4b4;}
.btn.gray:hover{border: solid 2px #b4b4b4; color: #b4b4b4;}
.btn.gray .l{padding: 0 20px; margin: 0;}
.btn input, .btn.gray a{background: none; border: none; font-size: 15px; color: #FFFFFF; line-height: 28px;}
.btn a{text-decoration: none; font-size: 15px; color: #FFFFFF;}
.btn:hover a, .btn a:hover, .btn:hover input{color: #208D30 !important;}
.btn.gray:hover a, .btn.gray a:hover, .btn.gray .l:hover{color: #b4b4b4 !important; background: #FFFFFF;}
.btn.gray:hover input{color: #b4b4b4;}
a.cancel{line-height: 72px; text-decoration: underline; font-size: 14px; margin: 0 25px;}

.edit-form{}
.edit-form .row{background: #F7FFF8; padding: 6px 0; font-size: 12px; line-height: 14px; overflow: hidden;}
.edit-form .row.header{background: #29B43D !important; padding: 6px 10px; font-size: 14px; color: #FFFFFF;}
.edit-form .row.zebra{background: #E2EFE4;}
.edit-form .row.mark .h{color: red;}
.edit-form .row.content{padding-right: 5px;}
.edit-form .row .h{float: right; width: 180px; margin-right: 10px;}
.edit-form .row .v{margin-right: 190px; word-wrap: break-word;}
.edit-form .row-odd{position: relative; background: #F7FFF8; padding: 6px 0; font-size: 12px; line-height: 14px; overflow: hidden; margin-top: -36px;}
.edit-form .row-odd .h{float: right; width: 180px; margin-right: 10px;}
.edit-form .row-odd .v{margin-right: 190px;}
.edit-form textarea, .edit-form input[type=text], .edit-form input[type=password], .edit-form select{border: solid 1px #208D30; color: #208D30; background: #FFFFFF; font-size: 15px;}
.edit-form input[type=text], .edit-form input[type=password], .edit-form select{width: 200px;}
.edit-form input[type=text].long, .edit-form input[type=password].long, .edit-form select.long{width: 300px;}
.edit-form input[type=text].short, .edit-form input[type=password].short, .edit-form select.short{width: 50px; white-space: nowrap;}
.edit-form input[type=text].middle, .edit-form input[type=password].middle, .edit-form select.middle{width: 150px;}
.edit-form textarea{width: 300px; vertical-align: top;}

.edit-form.n100 .row .h{width: 100px;}
.edit-form.n100 .row .v{margin-right: 110px;}
.edit-form.n100 .row-odd .h{width: 100px; margin-right: 322px;}
.edit-form.n100 .row-odd .v{margin-right: 110px;}
.edit-form.n150 .row .h{width: 150px;}
.edit-form.n150 .row .v{margin-right: 160px;}
.edit-form.n200 .row .h{width: 200px;}
.edit-form.n200 .row .v{margin-right: 210px;}
.edit-form.n250 .row .h{width: 250px;}
.edit-form.n250 .row .v{margin-right: 260px;}
.edit-form.n300 .row .h{width: 300px;}
.edit-form.n300 .row .v{margin-right: 310px;}
.edit-form.n350 .row .h{width: 350px;}
.edit-form.n350 .row .v{margin-right: 360px;}
.edit-form.n400 .row .h{width: 400px;}
.edit-form.n400 .row .v{margin-right: 410px;}

.edit-form.n150 .row .h{width: 150px;}
.edit-form.n150 .row .v{margin-right: 160px;}
.edit-form.n200 .row .h{width: 200px;}
.edit-form.n200 .row .v{margin-right: 210px;}
.edit-form.n250 .row .h{width: 250px;}
.edit-form.n250 .row .v{margin-right: 260px;}
.edit-form.n300 .row .h{width: 300px;}
.edit-form.n300 .row .v{margin-right: 310px;}
.edit-form.n350 .row .h{width: 350px;}
.edit-form.n350 .row .v{margin-right: 360px;}
.edit-form.n400 .row .h{width: 400px;}
.edit-form.n400 .row .v{margin-right: 410px;}

.edit-form .column{float: right; overflow: hidden; margin-left: 10px; min-width: 90px; min-height: 285px;}
.edit-form .column ul{padding: 0; padding-right: 10px;}
.edit-form .column ul li{list-style: none;}
.edit-form .column-block{float: right; overflow: hidden; margin-left: 10px; min-width: 90px; min-height: 25px;}
.edit-form .column-block.header{font-size: 11px; color: #666666; margin-top: 5px;}
.edit-form .thumbs-list{margin: 0; padding: 0;}
.edit-form .thumbs-list li{overflow: hidden; list-style: none;}

.form{}
.form .row{margin-top: 2px;}
.form .row .h{float: right; width: 180px;}
.form .row .v{margin-right: 190px;}

font.error{color: #FF6633;}
font.success{color: #66CC33;}

table.data{border-collapse: collapse; border-spacing: 0; width: 100%;}
table.data th, table.data td{padding: 8px 10px; line-height: 16px;}
table.data th{background: #29B43D url('../../../img/table-th-delimiter.gif') right center no-repeat; color: #FFFFFF; font-weight: 100; text-align: center;}
table.data th:first-child, table.data th.first{background-image: none;}
table.data th.center{text-align: center;}
table.data th a{color: #FFFFFF; text-decoration: none;}
table.data th a.desc{background: url('../../../img/arrow-down.gif') left center no-repeat; padding-left: 10px;}
table.data th a.asc{background: url('../../../img/arrow-up.gif') left center no-repeat; padding-left: 10px;}
table.data td{background: #F7FFF8 url('../../../img/px.gif') right top repeat-y;}
table.data td:first-child, table.data td.first{background-image: none;}
table.data tr.zebra td{background-color: #E2EFE4;}
table.data tr:hover td{background-color: #F6E4A0;}
table.data td.icons{text-align: center;}
table.data td.center{text-align: center;}
table.data td.icons a{text-align: center; margin: 0 3px;}
table.data tr:hover td.icons a{display: inline;}
table.data tr:hover td.icons a.hide{display: none;}
table.data .img{border: solid 1px #29B43D;}
table.data select{width: 100%; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;}

.pages{text-align: left; line-height: 30px; background: #29B43D; padding: 0 5px; color: #FFFFFF;}
.pages a{color: #FFFFFF; text-decoration: none; margin: 0 5px;}
.pages a.active{color: #4d4d4d;}
.pages .total{float: right;}

.w-login-str{line-height: 30px; text-align: left; padding: 0 5px;}
.w-login-str .version{float: right;}
a.logoff{color: #da792c;}

.ajax_notice{border: solid 1px #E5E5E5; padding: 8px; background: #FFFFFF; text-align: right; color: #4C4C4C;}
.ajax_notice .success{background: #ffffff url('../../../img/icon_system_alert_success.gif') right top no-repeat; padding: 6px 35px 6px 0;}
.ajax_notice .error{background: #ffffff url('../../../img/icon_system_alert_error.gif') right  top no-repeat; padding: 6px 35px 6px 0;}
.ajax_notice .info{background: #ffffff url('../../../img/icon_system_alert_info.gif') right  top no-repeat; padding: 6px 35px 6px 0;}
.ajax_notice .loading{background: #ffffff url('../../../img/icon_system_alert_loading.gif') right  top no-repeat; padding: 6px 35px 6px 0;}

.closer{display: none; float: right; width: 19px; height: 15px; cursor: pointer; position: relative; margin-right: -19px;}
.expand{background:  transparent url('../../../img/arrow-right-gray.gif') center center no-repeat;}
.collapse{background:  transparent url('../../../img/arrow-down-gray.gif') center center no-repeat;}
.visible{display: block;}
.hide{display: none;}
.hide_text{color: #cccccc; font-style: italic;}


.editable input{border: solid 1px #29B43D; color: #29B43D;}
.editable{cursor: pointer;}
.editable .hide_text{color: #cccccc; font-style: italic;}

.load_content{background: #FFFFFF; border: solid 1px #E5E5E5;}
.load_content_bg{opacity: 0.5; background: #000;}
.load_content_close{width: 30px; height: 30px; background: url('../../../img/icon-clear.png') center no-repeat;}
/*.load_content_close:hover{background-position: -40px -775px;}*/
.load_content_left{background: transparent center center repeat; width: 26px; height: 26px;}
.load_content_right{background: transparent center center repeat; width: 26px; height: 26px;}
.load_content h1{margin: 0px; padding: 10px 20px; background: #29B43D; color: #FFFFFF; line-height: 20px;}
.load_content .inside{padding: 30px 20px; overflow: hidden;}

.load_content_controller{background: #FFFFFF; border: solid 1px #E5E5E5;}
.load_content_controller h1{margin: 0; padding: 18px; line-height: 20px;}
.load_content_controller .inside{padding: 10px 18px; overflow: hidden;}
.load_content_controller_close{width: 30px; height: 30px; background: url('../../../img/icon-clear.png') center no-repeat;}
.load_content_controller_close:hover{/*background-position: -110px -775px;*/}

.js-select-editable{border: solid 1px transparent; width: 100px;}
.js-select-inited{border: solid 1px #838383; background: transparent url('../../../img/arrow-down-gray.gif') 90px center no-repeat;}

.tooltip-info{background: #eeeeee; border: solid 1px #e0e0e0; padding: 5px; max-width: 450px; text-align: right;}

#menu_items {margin: 5px 0;}
#menu_items ul{padding: 4px 0; margin: 0; padding-bottom: 10px;}
#menu_items ul li{padding: 5px; padding-right: 20px; border: solid 1px #29B43D; list-style: none; margin: 2px 0; background: #f7fff8;}
#menu_items ul li:hover{cursor: move; background: #f6e4a0;}
#menu_items ul li.limiter{border: dashed 1px #888888;}

#menu_items div.edit-btn{float: left; width: 16px; height: 16px; margin: 0 2px; background: transparent url('../../../img/icon-edit.png') center center no-repeat; cursor: pointer;}
#menu_items div.delete-btn{float: left; width: 16px; height: 16px; margin: 0 2px; background: transparent url('../../../img/icon-delete.png') center center no-repeat; cursor: pointer;}
#menu_items div.add-btn{float: left; width: 16px; height: 16px; margin: 0 2px; background: transparent url('../../../img/icon-add.png') center center no-repeat; cursor: pointer;}
#menu_items div.icons{float: left; overflow: hidden; }

.color-block{border: solid 1px #aaaaaa; font-size: 8pt; text-align: center;}

.color-pick{border: solid 1px #cccccc; cursor: pointer; width: 40px; height: 20px; margin-left: 5px;}
.color-pick-data{line-height: 20px;}

.user-select{}
.user-select .user-block{float: right; width: 30px; height: 15px; border: 1px ridge #aaaaaa; margin: 2px;}
.user-items{width: 650px; height: 300px; border: solid 1px #E5E5E5;}
.user-items-selected{margin: 0; padding: 0;}
.user-items-selected li{float: right; list-style: none; padding: 0; margin-left: 2px;}
.user-items-selected li .user-block{float: right; border: 1px ridge #aaaaaa; margin: 2px; padding: 3px; padding-left: 30px;}
.user-items option{background: #eeeeee; cursor: pointer; padding: 5px; margin-bottom: 1px;}
.user-items option:hover{background: #e1e1e1;}
.user-search{border: solid 1px #29B43D; background: #F8F8F8; font-size: 13px; width: 650px; margin-top: 1px; margin-bottom: 3px;}

/*-----------------------Controllers----------------------------*/

.controller-select{color: #000000;}
.crumb{margin-bottom: 5px;}
.controller-select > span > font {display: block;}
.controller-items{height: 300px; border-top: 1px solid #E5E5E5; border-bottom: 1px solid #E5E5E5; margin: 0; padding: 0; overflow-x: hidden; overflow-y: scroll;}
.controller-items li{cursor: pointer; padding: 5px; margin-bottom: 1px; list-style: none; color: #29B43D;}
.controller-items li:hover{background: #E2EFE4;}
.controller-items li.selected{background: #29B43D; color: #ffffff;}
.controller-search{width: 100%; margin-top: 1px; margin-bottom: 3px; border: 1px solid #E5E5E5 !important;}
.controller-actions{padding: 10px 0; line-height: 35px; overflow: hidden;}

.controller-actions input{float: right; border: solid 2px #FFFFFF; color: #FFFFFF; background: #208D30; font-size: 15px;  line-height: 28px; height: 34px; padding: 1px 26px;}
.controller-actions input:hover{border: solid 2px #208D30; color: #208D30; background: #FFFFFF;}
.controller-actions .link-margin{margin-right: 15px;}
.line{border-top: solid 1px #E5E5E5; padding-top: 5px; margin-top: 5px;}

.controller-items li.sup{cursor: pointer; padding: 0; margin-bottom: 1px; list-style: none; color: #29B43D; overflow: hidden;}
.controller-items li.sup:hover{background: transparent;}
.controller-items li.sup:hover .itm{background: #E2EFE4;}
.controller-items li.sup.selected{background: transparent; color: #29B43D;}
.controller-items li.sup.sub-selected .itm,  .controller-items li .itm.sub-selected{background: #808080; color: #ffffff;}
.controller-items li.selected .itm, .controller-items li .itm.selected,
.controller-items li.sub.selected, .controller-items li.selected.sup:hover .itm{background: #29B43D; color: #ffffff;}
.controller-items li.sup .handle{float: right; width: 20px; height: 20px; margin: 5px;}
.controller-items li.sup .handle.i-o{background-position: -52px -778px;}
.controller-items li.sup .handle.i-c{background-position: -52px -803px;}
.controller-items li.sup .itm{margin-right: 30px; padding: 5px;}
.controller-items li.sup ul{padding: 0px; clear: both; margin-right: 30px;}
.controller-items li.sup ul li{padding-right: 25px !important;}

.region-box {}
.region-box input[type=text]{width: 500px;}
.region-box input.search-btn{position: absolute; margin-right: 475px; cursor: pointer; border: none; background-color: transparent; padding: 0; margin-top: 1px;}
.region-box input.search-btn:hover{border: none; background-color: transparent;}
.region-box .region_select_item {cursor: pointer; padding: 5px; margin-bottom: 1px; list-style: none;}
.region-box .region_select_item:hover {background-color: #E2EFE4;}
.region-box .list{position: absolute; border: 1px solid #E5E5E5; background: #ffffff; width: 500px;}

ol.blocks{padding: 10px; margin: 0;}
ol.blocks li{list-style: none; border: dashed 1px #E5E5E5; float: right; width: 347px; margin: 5px; background: #ffffff;}
ol.blocks li:hover{background: #fafafa; cursor: move;}
ol.blocks li.limiter{float: right; margin: 5px;}
ol.blocks img{border: solid 1px #7E878F; cursor: pointer !important;}
ol.blocks a img{border: none !important;}
ol.blocks .photo-info-area{padding: 5px; text-align: center; overflow: hidden;}
ol.blocks .photo-area{height: 233px;}
ol.blocks .panorama-info-area{padding: 5px; text-align: center; overflow: hidden;}
ol.blocks .panorama-area{height: 233px;}

.form-fields{width: 100%; height: 400px; border: solid 1px #E5E5E5; margin: 0; padding: 0; }
.form-fields option{background: #E5E5E5; cursor: pointer; padding: 5px; margin-bottom: 1px;}
.form-fields option:hover{background: #e0e0e0}
.form-fields li{background: #E5E5E5; cursor: pointer; padding: 5px; margin-bottom: 1px; list-style: none; }
.form-fields li:hover{background: #e0e0e0}

div.permissions{float: right; width: 190px; line-height: 16px; min-height: 140px;}
div.permissions input[type=checkbox]{margin: 0 3px;}
div.permissions ul{padding: 0; margin: 0; margin-right: 10px;}
div.permissions ul li{padding: 3px 0; list-style: none; margin: 0;}

.settings-block{width: 170px; height: 110px; float: right; margin: 5px; cursor: pointer; background: url('../../../img/icn_settings.png') 0 0 no-repeat;}
.settings-block:hover{background: url('../../../img/icn_settings.png') 0 -110px no-repeat;}
.settings-block h6{color: #000000; font-weight: bold; font-size: 13px; margin: 5px 10px; padding: 0;}
.settings-block > div{color: #000000; font-size: 13px; margin: 5px 10px;}
.settings-block a{text-decoration: none;}

.settings-block.with-geomap_menu_item{background-position: -1190px 0;}
.settings-block.with-geomap_menu_item:hover{background-position: -1190px -110px;}

.settings-block.with-dynblock_menu_item{background-position: -2550px 0;}
.settings-block.with-dynblock_menu_item:hover{background-position: -2550px -110px;}

.settings-block.with-themes_menu_item{background-position: -170px 0;}
.settings-block.with-themes_menu_item:hover{background-position: -170px -110px;}

.settings-block.with-countries_menu_item{background-position: -340px 0;}
.settings-block.with-countries_menu_item:hover{background-position: -340px -110px;}

.settings-block.with-languages_menu_item{background-position: -850px 0;}
.settings-block.with-languages_menu_item:hover{background-position: -850px -110px;}

.settings-block.with-content_menu_item{background-position: -850px 0;}
.settings-block.with-content_menu_item:hover{background-position: -850px -110px;}

.settings-block.with-notifications_menu_item{background-position: -1700px 0;}
.settings-block.with-notifications_menu_item:hover{background-position: -1700px -110px;}

.settings-block.with-news_menu_item{background-position: -4590px 0;}
.settings-block.with-news_menu_item:hover{background-position: -4590px -110px;}

.settings-block.with-field_editor_menu_item{background-position: -1870px 0;}
.settings-block.with-field_editor_menu_item:hover{background-position: -1870px -110px;}

.settings-block.with-vehicle_properties_menu_item{background-position: -1530px 0;}
.settings-block.with-vehicle_properties_menu_item:hover{background-position: -1530px -110px;}

.settings-block.with-contactus_menu_item{background-position: -1700px 0;}
.settings-block.with-contactus_menu_item:hover{background-position: -1700px -110px;}

.settings-block.with-cronjob_menu_item{background-position: -3400px 0;}
.settings-block.with-cronjob_menu_item:hover{background-position: -3400px -110px;}

.settings-block.with-uploads_menu_item{background-position: -3060px 0;}
.settings-block.with-uploads_menu_item:hover{background-position: -3060px -110px;}

.settings-block.with-file_uploads_menu_item{background-position: -3060px 0;}
.settings-block.with-file_uploads_menu_item:hover{background-position: -3060px -110px;}

.settings-block.with-video_menu_item{background-position: -3230px 0;}
.settings-block.with-video_menu_item:hover{background-position: -3230px -110px;}

.settings-block.with-gallery_menu_item{background-position: -4930px 0;}
.settings-block.with-gallery_menu_item:hover{background-position: -4930px -110px;}

.settings-block.with-seo_menu_item{background-position: -2380px 0;}
.settings-block.with-seo_menu_item:hover{background-position: -2380px -110px;}

.settings-block.with-admin-menus-item{background-position: -4420px 0;}
.settings-block.with-admin-menus-item:hover{background-position: -4420px -110px;}

.settings-block.with-system-numerics-item{background-position: -4760px 0;}
.settings-block.with-system-numerics-item:hover{background-position: -4760px -110px;}

.settings-block.with-properties_items{background-position: -1530px 0;}
.settings-block.with-properties_items:hover{background-position: -1530px -110px;}

.settings-block.with-promo_menu_item{background-position: -680px 0;}
.settings-block.with-promo_menu_item:hover{background-position: -680px -110px;}

.settings-block.with-social_network_1_menu_item{background-position: -3570px 0;}
.settings-block.with-social_network_1_menu_item:hover{background-position: -3570px -110px;}

.settings-block.with-social_network_2_menu_item{background-position: -3570px 0;}
.settings-block.with-social_network_2_menu_item:hover{background-position: -3570px -110px;}

.settings-block.with-spam_alert_menu_item{background-position: -3740px 0;}
.settings-block.with-spam_alert_menu_item:hover{background-position: -3740px -110px;}

.settings-block.with-users_deact_alers_menu_item{background-position: -5100px 0;}
.settings-block.with-users_deact_alers_menu_item:hover{background-position: -5100px -110px;}

.settings-block.with-contact_menu_item{background-position: -4080px 0;}
.settings-block.with-contact_menu_item:hover{background-position: -4080px -110px;}

.settings-block.with-reviews_list_menu_item{background-position: -5270px 0;}
.settings-block.with-reviews_list_menu_item:hover{background-position: -5270px -110px;}

.settings-block.with-spam_sett_menu_item{background-position: -5440px 0;}
.settings-block.with-spam_sett_menu_item:hover{background-position: -5440px -110px;}

.settings-block.with-import_menu_item{background-position: -4250px 0;}
.settings-block.with-import_menu_item:hover{background-position: -4250px -110px;}

.settings-block.with-export_menu_item{background-position: -3910px 0;}
.settings-block.with-export_menu_item:hover{background-position: -3910px -110px;}

.settings-block.with-users_deact_sett_menu_item{background-position: -5100px 0;}
.settings-block.with-users_deact_sett_menu_item:hover{background-position: -5100px -110px;}

.settings-block.with-reviews_sett_menu_item{background-position: -5270px 0;}
.settings-block.with-reviews_sett_menu_item:hover{background-position: -5270px -110px;}

.settings-block.with-geomap_sys_menu_item{background-position: -1190px 0;}
.settings-block.with-geomap_sys_menu_item:hover{background-position: -1190px -110px;}

.settings-block.with-listings_moder_item{background-position: -4420px 0;}
.settings-block.with-objects_list_item:hover{background-position: -4420px -110px;}

.settings-block.with-objects_list_item{background-position: -4930px 0;}
.settings-block.with-objects_list_item:hover{background-position: -4930px -110px;}

.settings-block.with-moder_settings_item_2{background-position: -3400px 0;}
.settings-block.with-moder_settings_item_2:hover{background-position: -3400px -110px;}

.settings-block.with-badwords_item{background-position: -5610px 0;}
.settings-block.with-badwords_item:hover{background-position: -5610px -110px;}

.settings-block.with-mail_list_menu_item{background-position: -5780px 0;}
.settings-block.with-mail_list_menu_item:hover{background-position: -5780px -110px;}

.btn-link {float: right;}

.poll_progress {float: right; height: 20px;}

.filter-form-new{border-top: solid 3px #29B43D; border-bottom: solid 3px #29B43D; background: #eef6ef; padding: 18px 10px; color: #4e4e4e; margin-top:-20px; margin-bottom:20px;}
.filter-form-new h3{font-size: 14px; margin: 0l margin-bottom: 10px;}
.filter-form-new textarea, .filter-form input[type=text], .filter-form input[type=password]{border: solid 1px #208D30; color: #208D30; background: #FFFFFF; font-size: 15px;}
.filter-form-new textarea{max-width: 710px;}
.filter-form-new input[type=text]{width: 200px;}
.filter-form-new input[type=text].short{width: 50px;}
.filter-form-new input[type=password]{width: 200px;}
.filter-form-new input[type=text].long{width: 300px;}
.filter-form-new .row{padding: 3px 0px; min-height: 25px; overflow: hidden;}
.filter-form-new .row .h{float: right; width: 100px; margin-right: 10px; line-height: 20px;}
.filter-form-new .row .v{margin-right: 110px;}
.filter-form-new .block-l{width: 350px; float: right;}
.filter-form-new .block-r{margin-right: 305px;}

.dropdown{background: #FFFFFF; border: 1px solid #C5C5C5; font-size: 12px; color: #4C4C4C; width: 100%; position: absolute; z-index: 99999; max-height: 200px; background: #FFFFFF; border: 1px solid #C5C5C5; -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, .2); -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, .2); box-shadow: 0 2px 6px rgba(0, 0, 0, .2); overflow: auto; display: none;}
.dropdown ul{margin: 0; padding: 0;}
.dropdown ul li{list-style: none; padding: 5px 10px;}
.dropdown ul li:hover, .dropdown ul li.active{background: #E3E3E3;}

.wish-list-select{}
.wish-list-select .user-block{float: right; width: 30px; height: 15px; border: 1px ridge #aaaaaa; margin: 2px;}
.wish-list-items{width: 650px; height: 300px; border: solid 1px #E5E5E5;}
.wish-list-items-selected{margin: 0px; padding: 0;}
.wish-list-items-selected li{float: right; list-style: none; padding: 0; margin-left: 2px;}
.wish-list-items-selected li .user-block{float: right; border: 1px ridge #aaaaaa; margin: 2px; padding: 3px; padding-left: 30px;}
.wish-list-items option{background: #eeeeee; cursor: pointer; padding: 5px; margin-bottom: 1px;}
.wish-list-items option:hover{background: #e1e1e1;}
.wish-list-search{border: solid 1px #29B43D; background: #F8F8F8; font-size: 13px; width: 650px; margin-top: 1px; margin-bottom: 3px;}

.ui-widget-header{background: #208B2F !important; border-color: #29B43D !important;}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{color: #208B2F !important;}

.upload_block{padding: 0 10px; margin-bottom: 10px;}
.upload_block .drop_zone{background-color: #fff !important;}
.upload_block .btn{margin: 0; padding: 4px 20px; border-color: #E2EFE4; line-height: 28px; display: inline-block;}
.upload_block .btn:hover{border-color: #208D30;}

.rates_update{padding-right: 26px;}
.rates_update input{vertical-align: -3px; margin-right: -26px;}
.form input[type=image]{vertical-align: middle;}

#wish_list_content{margin-bottom: 30px; background:#f0f0f0; padding:2px 0 12px;}
#wish_list_content ol.blocks li{height: 158px; overflow: hidden;}
#wish_list_content .listing{padding: 5px;}
#wish_list_content .listing h3{padding: 0; margin: 10px 0 10px 20px;}
#wish_list_content .listing .image{float: right; position: relative;}
#wish_list_content .listing .lift_up{float: left; color: #BF4006; font-size: 15px;}
#wish_list_content .listing .image .img-icon{position: absolute; top: 80px; right: 5px; background: url('../../../img/px-dark.png') repeat !important;}
#wish_list_content .listing .image .img-icon ins{float: right; padding: 0; margin: 0 3px; position: relative; top: 0; text-decoration: none;}
#wish_list_content .listing .image .photo-info{position: absolute; right: 5px; bottom: 10px; color: #fff;}
#wish_list_content .listing .image .photo-info .panel{display: block; line-height: 25px; padding: 0 2px 0 4px; position: relative; z-index: 10;}
#wish_list_content .listing .image .photo-info .panel span{line-height: 25px; font-size: 12px; margin-left: 16px;}
#wish_list_content .listing .image .photo-info .panel span:last-child{margin-left: 0;}
#wish_list_content .listing .image .photo-info .background{position: absolute; background-color: #000; opacity: 0.5; right: 0; top: 0; left: 0; bottom: 0;}
#wish_list_content .listing .body{position: relative; margin-right: 110px; line-height: 17px; height: 100px; margin-bottom: 10px; overflow: hidden;}
#wish_list_content .listing .body h3{margin-top: 0; margin-bottom: 4px; color: #000; font-weight: normal;}
#wish_list_content .listing .t-1{line-height: 1.5;}
#wish_list_content .listing .t-2{padding-top: 5px;}
#wish_list_content .listing .t-1 span, .item .t-2 span{color: #808080;}
#wish_list_content .listing .t-3{position: absolute; bottom: 0; line-height: 1 !important;}
#wish_list_content .listing a{vertical-align: middle; font-weight: normal;}

#panorama_block{margin: 5px 12px;}

.panorama_box{position: relative; display: inline-block;}
.panorama_box img{border: none; padding: 0; margin: 0;}
.panorama_box .panorama-comment{position: absolute; right: 0; left: 0; bottom: 0; height: 85px; overflow: hidden;}
.panorama_box .panorama-comment .comment-panel{display: block; padding: 20px; color: #fff; max-height: 17px; position: relative; z-index: 10; overflow: hidden;}
.panorama_box .panorama-comment .background{position: absolute; background-color: #000; opacity: 0.75; right: 0; top: 0; left: 0; bottom: 0;}

.btn-link{float: right; line-height: 37px;}
.btn-link ins{position: relative; padding: 0; margin-left: 10px; float: right; margin-top: 3px; width: 30px !important; height: 30px !important;}
.i-close{background: url(../../../img/icon-clear.png) 8px 8px no-repeat;}

#export_form_box input[name=region_name]{width: 200px; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;}
#export_form_box .region-box input.search-btn{margin-right: 175px; width: 23px; height: 23px; background: url(../../../img/icon-view.png) center no-repeat;}

#property_type_items {margin: 0px 0px;}
#property_type_items ul{padding: 4px 0; margin: 0; padding-bottom: 10px;}
#property_type_items ul li{padding: 5px; padding-left: 20px; border: solid 1px #29B43D; list-style: none; margin: 2px 0; background: #f7fff8;}
#property_type_items ul li:hover{cursor: move; background: #f6e4a0;}
#property_type_items ul li.limiter{border: dashed 1px #888888;}

#property_type_items div.edit-btn{float: right; width: 16px; height: 16px; margin: 0 2px; background: transparent url('../../../img/icon-edit.png') center center no-repeat; cursor: pointer;}
#property_type_items div.delete-btn{float: right; width: 16px; height: 16px; margin: 0 2px; background: transparent url('../../../img/icon-delete.png') center center no-repeat; cursor: pointer;}
#property_type_items div.add-btn{float: right; width: 16px; height: 16px; margin: 0 2px; background: transparent url('../../../img/icon-add.png') center center no-repeat; cursor: pointer;}
#property_type_items div.icons{float: left; overflow: hidden;}

.icn-confirm{background: url(../../../img/icon-approve.png) left top no-repeat;}
.icn-delete{background: url(../../../img/icon-clear.png) left top no-repeat;}

#pages ul li .icons{float: left;}

.ui-datepicker-calendar .open .ui-state-default{background: green !important; color: #fff !important;}
.ui-datepicker-calendar .close .ui-state-default{background: grey !important; color: #fff !important;}
.ui-datepicker-calendar .book .ui-state-default{background: red !important; color: #fff !important;}
.ui-datepicker-calendar .wait .ui-state-default{background: yellow !important; color: #fff !important;}

.calendar{display: inline-block; vertical-align: top;}
.calendar .ui-datepicker{min-height: 197px;}

.popup{max-height: 300px; overflow-y: auto;}

.help{font-size: 11px; color: #4C4C4C; margin: 0;}

.gray_italic{color: #666; font-style: italic;}

.select-slider{margin-top: 6px; margin-left: 11px;}
.select-slider .vals{margin-top: 6px; margin-left: -9px;}
.select-slider .vals div{max-width: 50%; max-height: 15px; font-size: 11px; color: #000; overflow: hidden;}
.select-slider .ui-slider-handle{background: url(../../../img/slider-arrows.png) #208D30 0px 0px !important;}
.select-slider .ui-slider-handle:first-child{background: url(../../../img/slider-arrows.png) #208D30 -11px 0px !important;}
.select-slider .ui-widget-header{background-color: #208D30 !important;}

#export_search_form .select-slider{width: 190px;}
