.drop_zone{padding: 20px; margin-bottom: 20px; min-height: 250px; border: 1px solid #ccc; background: none;}
.drop_zone.hover{background: url(../img/loading.png);}
.drop_zone.drop{background: url(../img/loading.png);}
.drop_zone p{display: inline-block; margin: 0; padding: 10px 20px; background-color: #666; color: #fff;}
.drop_zone p span{display: inline-block; width: 220px; height: 35px; position: relative; vertical-align: middle; background-color: #343434; line-height: 35px; text-align: center !important; color: #fff; overflow: hidden; cursor: pointer;}

.drop_zone p span input{font-size: 20px; font-size: 60px; margin-right: -850px; margin-top: -40px; opacity: 0; position: absolute; cursor: pointer;}

.drop_zone ul.filebar{margin: 0; margin-top: 20px; padding: 0;}
.drop_zone ul li{position: relative; float: right; list-style-type: none; width: 134px; margin-right: 46px; overflow: hidden;}
.drop_zone ul li:nth-child(4n+1){clear: both; margin-right: 0 !important; }
.drop_zone ul li:nth-child(n+5){margin-top: 20px;}
.drop_zone ul li span:first-child{display: block; width: 100px; border: 1px solid #ccc; height: 110px; margin-bottom: 10px; overflow: hidden;}
.drop_zone ul li img{width: 100px; border: none;}

.drop_zone ul li .act{position: absolute; right: 5px; top: 5px; width: 100px; height: 100px; opacity: 0;}
.drop_zone ul li .act:hover{display: block; opacity: 1;}
.drop_zone ul li .act .btn-link{position: relative; margin-right: 61px; margin-top: -3px; z-index: 10;}
.drop_zone ul li .act .background{position: absolute; top: -5px; left: 4px; width: 40px; height: 40px; background-color: #000; opacity: 0.5;}

.simple_uploader{height: 30px; margin: 2px 0; vertical-align: middle; display: inline-block;}
.simple_uploader.hide{display: none;}

.drop_zone ul li .error-box{position: absolute; top: 82px; width: 102px; height: 30px; text-align: center;}
.drop_zone ul li .error-box .error-info{position: relative; display: inline-block; margin: 2px; z-index: 2;}
.drop_zone ul li .error-box .background{position: absolute; top: 0; right: 0; width: 102px; height: 30px; background-color: #000; opacity: 0.5;}

.drop_zone ul li .progress{position: absolute; top: 82px; width: 102px; height: 30px; text-align: center;}
.drop_zone ul li .progress .percent-box{position: relative; display: inline-block; margin: 8px; padding: 1px; color: #fff; border: 2px solid #fff; width: 70px; height: 10px; z-index: 2;}
.drop_zone ul li .progress .percent{background-color: #fff; font-size: 7px; color: #333; height: 10px; line-height: 10px;}
.drop_zone ul li .progress .background{position: absolute; top: 0; right: 0; width: 102px; height: 30px; background-color: #000; opacity: 0.5;}
