/* Calendar */
#calendar{position: relative; width: 630px;}
#calendar .calendar-nav{margin-top: 20px; margin-bottom: 20px;}
#calendar .calendar-nav .center{text-align: center;}
#calendar .calendar-cont{margin-bottom: 30px; overflow: hidden;}
#calendar.cal-type-2{margin-top: -20px;}
#calendar .calendar{float: left; width: 300px; background-color: #fafafa; vertical-align: top; margin-bottom: -10000px; padding-bottom: 10000px; margin-left: 27px;}
#calendar table{table-layout: fixed; padding: 0; border: 0; border-collapse: collapsed; overflow: hidden;}
#calendar td{width: 42px; color: #b5b5b5; padding: 0; overflow: hidden;}
#calendar th{width: 42px; border: 0; line-height: 30px; padding: 0; padding: 2px 4px; color: #777; text-align: left; overflow: hidden;}
#calendar th:last-child{border-right: 0;}
#calendar .book{background-color: #fbd1d1;}
#calendar .close{background-color: #fafafa;}
#calendar .open{background: #d1fbdd;}
#calendar .wait{background-color: #ffff80;}

#calendar.cal-type-2 th{width: 75px;}
#calendar.cal-type-2 td{width: 75px;}

#calendar td{font-size: 11px; vertical-align: top;}
#calendar td div{margin-top: 12px; margin-bottom: 12px; padding: 0 4px;}
#calendar td.period-start div{margin-left: 1px;}
#calendar td.period-start:first-child div{margin-left: 0;}
#calendar td.period-end div{margin-right: 1px;}
#calendar td.period-end:first-child div{margin-right: 0;}
#calendar td.period-end+td.period-start div{margin-left: 0;}
#calendar td>span{display: block; font-size: 10px; margin-top: -11px; padding: 2px 4px; margin-bottom: -2px; overflow: hidden;}
#calendar td>span.period-comment{background-color: #d84b5d; color: #fff; width: 15px; height: 15px; line-height: 15px; padding: 0; text-align: center; margin-left: 1px; margin-bottom: 2px;}
#calendar td:first-child span.period-comment{margin-left: 0;}
#calendar td div.open, #calendar td div.book{color: #000;}

.calendar_periods{margin-bottom: 30px;}
.calendar_periods h2{margin-bottom: 0;}
.calendar_periods .rollup-box{padding-bottom: 0;}

#calendar .calendar-year{position: absolute; top: -36px; width: 100%; text-align: center;}
#calendar .calendar-month{position: absolute; top: 8px; width: 234px; text-align: center; margin: 0 30px;}
#calendar .calendar-months-year{position: absolute; top: 8px; width: 174px; text-align: center; margin: 0 60px;}

.view-section .calendar{margin-left: 27px !important;}
.view-section .calendar:nth-child(2n+1){margin-left: 0 !important;}
.rollup-box .view-section #calendar{width: 100%;}
.rollup-box .view-section #calendar .calendar-nav{margin-top: 40px !important;}
.rollup-box .view-section .calendar{margin-left: 17px !important;}
.rollup-box .view-section .calendar:nth-child(2n+1){margin-left: 18px !important;}
.rollup-box .view-section .calendar:nth-child(3n+1){margin-left: 0 !important;}

#calendar .statusbar{font-size: 11px; line-height: 17px; height: 17px;}
#calendar .statusbar span{display: inline-block; width: 42px; height: 17px; margin-left: 10px; vertical-align: top;}
#calendar .statusbar span:first-child{margin-left: 0;}

.info_box .info_item .listing{min-width: 350px; max-width: 450px;}
.info_box .info_item .listing .headline{margin-bottom: 0;}

#order_approve_form{max-height: 400px; overflow: hidden; overflow-y: auto;}
#order_comment .v{max-height: 50px; overflow: hidden; overflow-y: auto;}
.order_answer{font-style: italic;}
