img{border: none}

.fleft{float: left !important}
.fright{float: right !important}
.hide{display: none}

#error_block, #info_block, #success_block{display: none}

.fltl{float: left}
.fltr{float: right}
.w700{width: 700px}
.w500{width: 500px}
.w400{width: 400px}
.w350{width: 350px}
.w300{width: 300px}
.w200{width: 200px}
.w150{width: 150px}
.w125{width: 125px}
.w110{width: 110px}
.w100{width: 100px}
.w70{width: 70px}
.w50{width: 50px}
.w30{width: 30px}
.ml500{margin-left: 510px}
.ml400{margin-left: 410px}
.ml350{margin-left: 360px}
.ml300{margin-left: 310px}

.h300{width: 300px}
.h200{height: 200px}
.h150{height: 150px}
.h125{height: 125px}

.clr{clear: both}

.lang-mark{background: #FFFF00 !important; border: solid 1px #FFFF00}
.lang-button-mark{border: solid 3px #FF0000 !important}
#lang_editor_js_block{position: fixed; bottom: 2px; right: 2px; z-index: 2000; width: 40%; background: #ffffff; border: solid 1px #444444}
#lang_handle{margin: 1px; background: #999999; line-height: 22px; padding-left: 10px; color: #ffffff; font-weight: bold; cursor: pointer}
#lang_editor_js_block  #lang_editor_content{height: 200px; overflow: scroll}
#lang_editor_js_block .ledit{line-height: 20px; margin: 1px 1px 2px; background: #eeeeee; padding: 5px}
#lang_editor_js_block .ledit .name{width: 150px; float: left}
#lang_editor_js_block .ledit .value{margin-left: 160px; cursor: pointer}
#lang_editor_js_block .ledit .value input{border: solid 1px #208b2f; color: #208b2f}
#lang_editor_js_block .ledit .value .hide_text{color: #cccccc; font-style: italic}

#banner-place-bottom-banner{margin: -20px auto 50px;}
#banner-place-bottom-banner img{border: none !important; padding: 0px !important;}
#banner-place-left-banner{margin-bottom: 30px; /*padding-top: 30px; border-top: 1px solid #C4C4C4;*/}
#banner-place-left-banner img{border: none !important; padding: 0px !important;}
.left-banner-place:first-child #banner-place-left-banner{padding-top: 0; border-top:none;}
#banner-place-big-left-banner{margin-bottom: 30px; /*padding-top: 30px; border-top: 1px solid #C4C4C4;*/}
#banner-place-big-left-banner img{border: none !important; padding: 0px !important;}
.big-left-banner-place:first-child #banner-place-big-left-banner{padding-top: 0; border-top:none;}
#banner-place-right-banner{margin-bottom: 30px; padding-top: 30px; border-top: 1px solid #C4C4C4;}
#banner-place-right-banner img{border: none !important; padding: 0px !important;}
.right-banner-place:first-child #banner-place-right-banner{padding-top: 0; border-top:none;}
#banner-place-right-banner-2{margin-bottom: 30px; padding-top: 30px; border-top: 1px solid #C4C4C4;}
#banner-place-right-banner-2 img{border: none !important; padding: 0px !important;}
<!-- MOD FOR NEW BANNER PLACES -->
#banner-place-right-news-banner{margin-bottom: 30px;}
#banner-place-right-news-banner img{border: none !important; padding: 0px !important;}

#banner-place-right-tall-news-bann{margin-bottom: 30px;}
#banner-place-right-tall-news-bann img{border: none !important; padding: 0px !important;}
<!-- END OF MOD -->
.right-banner-place:first-child #banner-place-right-banner-2{padding-top: 0; border-top:none;}

.error404 {
    background: url("../../../img/404.png") no-repeat scroll 0 0 transparent;
    height: 110px;
    width: 240px;
}
