Processing...
<script>
{literal}$(function(){{/literal}
	product_install.properties.installType='product_update';
	product_install.properties.currentModule='{$current_module}';
	product_install.delayed_request('{$current_action}', 300);
	product_install.update_overall_progress({$current_overall_percent});
{literal}});{/literal}
</script>