#ds_items {margin: 0;}
#ds_items ul{padding: 4px 0; margin: 0; padding-bottom: 10px;}
#ds_items ul li{padding: 5px; padding-right: 20px; border: solid 1px #29b43d; list-style: none; margin: 2px 0; background: #f7fff8;}
#ds_items ul li:hover{cursor: move; background: #f6e4a0;}
#ds_items ul li .icons{float: left;}

#ds_items ul li.limiter{border: dashed 1px #888888;}

.row input[type=checkbox].width4{float: right; vertical-align: top;}
.row label.width4{float: right; margin-top: 3px;}
.row label.width4{float: right; width: 250px; max-width: 250px; overflow: hidden; line-height: 22px;}
.row input[type=checkbox].width4:nth-child(4n+1){clear: both;}
.row input[type=checkbox].width6{float: right; vertical-align: top;}
.row label.width6{float: right; margin-top: 3px;}
.row label.width6{float: right; width: 250px; max-width: 250px; overflow: hidden; line-height: 22px;}
.row input[type=checkbox].width6:nth-child(6n+2){clear: both;}
.row input[type=checkbox].width6:nth-child(2){clear: none;}
.row{position: relative;}
.select_actions{position: absolute; bottom: 10px;}
